<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <style>
    .top-bar-right i{
        display: none !important;
    }
    .top-bar,.timePickerBtn, .book-pay-btn {
        background-color: #09B6F2 !important;
    }
    .top-bar-con .top-bar-left i {
        background: url(/img/icon-back-white-2.png) no-repeat;
        background-position: 13% 50%;
        background-size: 136%;
        display: block;
    }
    #admin_c{
        left: -0.1rem !important;
    }
    </style>
    
    <link rel="stylesheet" href="../css/view.css">
</head>
<body>
{{> 'm.zuzuche.net/components/zeptoJS.handlebars'}}
{{> 'm.zuzuche.net/components/polyfill.handlebars'}}
{{> 'm.zuzuche.net/components/commonJS.handlebars'}}

<script src="m.zuzuche.com/js/swiper.js"></script>
<script src="m.zuzuche.com/js/pubsub.js"></script>
<script src="m.zuzuche.net/js/react-runtime.js"></script>
<script src="m.zuzuche.com/js/view.js"></script>

</body>

</html>